asgiref==3.2.10
axidrawinternal==1.0.0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
Django==3.0.8
future==0.18.2
idna==2.10
ink-extensions==1.1.0
kiwisolver==1.2.0
lxml==4.5.2
matplotlib==3.3.0
numpy==1.19.1
Pillow==7.2.0
plotink==1.0.0
pyaxidraw==2.6.0
pyparsing==2.4.7
pyserial==3.4
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
svgwrite==1.4
urllib3==1.25.9
