
@font-face {
    font-family: 'Perfect DOS VGA 437 Win';
     src: local("Perfect DOS VGA 437 Win");  /* name of local installation */
}

.quittung-text {
    font-family: 'Perfect DOS VGA 437 Win'; /* inkscape needs correct name */
    font-size: 12px;
    line-height: 16px;
    /*
    letter-spacing: -1px;
    line-height: 16px;
    */
}
.free-size-text{
    font-family: 'Perfect DOS VGA 437 Win'; /* inkscape needs correct name */
}

.shape {
    fill: none;
    stroke: green;
}

.path{
    fill: none;
    stroke: black;
    stroke-width: 0.2px;  /* after scaling -> 1 px */
}

polyline{ /* for preview only */
    fill: none;
    stroke: black;
    stroke-width: 0.2px;  /* after scaling -> 1 px */
}